<!DOCTYPE html>
<html>
<head>
  <title>AwsSesNewsletters</title>
  <%= stylesheet_link_tag    "aws_ses_newsletters/application", media: "all" %>
  <%= javascript_include_tag "aws_ses_newsletters/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
